<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT frontpage ANY>
<!ATTLIST frontpage id ID #REQUIRED>

]>
<root id="-1">
  <frontpage id="1052" key="486742c4-b0b6-4612-ab98-ac1ad4536531" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-04-07T13:50:57" updateDate="2016-04-07T13:50:57" nodeName="Frontpage" urlName="frontpage" path="-1,1052" isDoc="" nodeType="1051" creatorName="Bjarne Rosendal" writerName="Bjarne Rosendal" writerID="0" template="1050" nodeTypeAlias="frontpage" />
</root>